@import "tailwindcss";

:root {
  --color-page: #0f172a;
  --color-panel: #1e293b;
  --color-canvas: #1e293b;
  --transition-speed: 0.2s;
  --palette-height: 84px;
  --sidebar-width: 0px;
}

.editor--sidebar-open {
  --sidebar-width: 260px;
}

@media (max-width: 1024px) {
  .editor--sidebar-open {
    --sidebar-width: 220px;
  }
}

@media (max-width: 767.98px) {
  .editor--sidebar-open {
    --sidebar-width: 170px;
  }
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-page);
  font-family: sans-serif;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}